<header class="main-header">
  <div class="header-container">
    <div class="logo">
      <a routerLink="/">Sneaker Street</a>
    </div>
    <nav class="main-nav">
      <ul class="nav-list">
        <ng-container *ngIf="authService.user$ | async as user">
          <ng-container *ngIf="authService.isAdmin() | async">
            <li>
              <a routerLink="/admin" class="nav-link">
                <span class="icon">⚙️</span> Panel Admin
              </a>
            </li>
          </ng-container>
        </ng-container>
        <li>
          <a routerLink="/catalogo" class="nav-link">
            <span class="icon">👟</span> Ver Catálogo
          </a>
        </li>
        <li>
          <a routerLink="/carrito" class="nav-link">
            <span class="icon">🛒</span> Ir al Carrito
          </a>
        </li>
        <li>
          <ng-container *ngIf="authService.user$ | async as user; else loginButton">
            <div class="user-profile">
              <div class="user-info">
                <img [src]="user.photoURL" alt="Profile" class="profile-pic" *ngIf="user.photoURL">
                <span class="user-name">{{ user.displayName }}</span>
              </div>
              <button class="logout-btn" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
                Cerrar Sesión
              </button>
            </div>
          </ng-container>
          
          <ng-template #loginButton>
            <button class="login-btn" routerLink="/login">
              <i class="fas fa-key"></i>
              Iniciar sesión
            </button>
          </ng-template>
        </li>
      </ul>
    </nav>
  </div>
</header>