<header class="main-header">
  <div class="logo">
    <a routerLink="/">Sneaker Street</a>
  </div>
  <nav class="main-nav">
    <ul>
      <li>
        <a routerLink="/catalogo">
          <span class="icon">👟</span> Ver Catálogo
        </a>
      </li>
      <li>
        <a routerLink="/carrito">
          <span class="icon">🛒</span> Ir al Carrito
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon">🔑</span> Iniciar sesión
        </a>
      </li>
    </ul>
  </nav>
</header>
