.main-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.image-container {
  width: 100%;
  max-width: 1200px;  /* El contenedor no será más ancho de 1200px */
  height: auto;  /* Dejamos que la altura sea automática */
  overflow: hidden;  /* Ocultamos cualquier desbordamiento */
}

.banner-img {
  width: 100%;
  max-height: 400px;  /* Limitar la altura máxima de la imagen */
  object-fit: contain;  /* La imagen se ajustará dentro del contenedor sin recortarse */
  display: block;
}
